{% extends 'base.html' %}

{% block content %}

<h2>Liste des candidatures</h2>

<table class="table table-striped">
    <tr>
        <th>Stagiaire</th>
        <th>Email</th>
        <th>Stage</th>
        <th>Date</th>
    </tr>

    {% for c in candidatures %}
    <tr>
        <td>{{ c.stagiaire.username }}</td>
        <td>{{ c.stagiaire.email }}</td>
        <td>{{ c.stage.titre }}</td>
        <td>{{ c.date_postulation }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}