{% extends 'base.html' %}

{% block content %}

<h2>Dashboard Société</h2>

<a href="/ajouter/" class="btn btn-success mb-3">+ Ajouter Stage</a>
<a href="/candidatures/" class="btn btn-info mb-3">Voir candidatures</a>

<table class="table">
<tr>
    <th>Titre</th>
    <th>Actions</th>
</tr>

{% for stage in stages %}
<tr>
    <td>{{ stage.titre }}</td>
    <td>
        <a href="/modifier/{{ stage.id }}/" class="btn btn-warning btn-sm">Modifier</a>
        <a href="/supprimer/{{ stage.id }}/" class="btn btn-danger btn-sm">Supprimer</a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}