{% extends 'base.html' %}

{% block content %}

<h2>Offres de stages</h2>

<div class="row">
{% for stage in stages %}

<div class="col-md-6 mb-3">
    <div class="card p-3 shadow">

        <h5>{{ stage.titre }}</h5>
        <p><strong>Entreprise :</strong> {{ stage.entreprise }}</p>
        <p>{{ stage.description }}</p>

        <!-- 👤 STAGIAIRE -->
        {% if not user.is_staff %}
            <a class="btn btn-success" href="/postuler/{{ stage.id }}/">Postuler</a>
        {% endif %}

    </div>
</div>

{% endfor %}
</div>

{% endblock %}